body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--color-bg-main);
    font-family: Arial, sans-serif;
  }
  
  .game-container {
    position: relative;
  }
  
  canvas {
    background-color: var(--color-secondary);
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
  
  .score {
    position: absolute;
    top: 10px;
    width: 100%;
    color: var(--color-primary);
    font-size: 24px;
    text-align: center;
  }